{% extends 'base.html' %}
{% load static %}
{% block body %}
{% block title %}<title>My To-Do | About</title>{% endblock %}
<div class="center-column border border-dark rounded" id="about">
    <div class="text-center">
        <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
        <h3>About</h3>
        <p>The To-Do app is an app that keeps record of a list of tasks the user wants to complete. The app allows the
        user to delete, and also update the list, tasks completed can be scratched out using the 'complete' functionality
        that is included in the app.<br>
        The app was build by Kgatle JM using Django and deployed using heroku.</p>
    </div>
    <div class="copyright text-dark">
                &copy; Copyright <strong><span>Kgatle JM</span></strong>. All Rights Reserved
    </div>
</div>

{% endblock %}